bcrypt==3.1.7
cffi==1.14.1
click==7.1.2
cryptography==3.0
Flask==1.1.2
Flask-SocketIO==4.3.1
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
parallel-ssh==2.1.0.post1
paramiko==2.7.1
pycparser==2.20
pymongo==3.11.0
PyNaCl==1.4.0
python-engineio==3.13.2
python-socketio==4.6.0
six==1.15.0
ssh-python==0.8.0.post1
ssh2-python==0.23.0
Werkzeug==1.0.1
zope.event==4.4
zope.interface==5.1.0
